/* xl responsive----------- */


@media only screen and (min-width: 200px) and (max-width: 1250px) {
    .second-title {
        font-size: 18px;
    }

    .top_arrow,
    .bottom_arrow {
        left: 87%;
        top: 74%;
        box-shadow: 2px 2px 10px lightgray;
        border-radius: 10px;
    }

    .bottom_arrow {
        top: 82%;
    }

    .social_links {
        width: 100%;
        right: 0px;
        bottom: 0px;
        flex-direction: row;
        justify-content: center;
        border-radius: 25px 25px 0px 0px;
        background: #ECF0F3;
        box-shadow: 2px 2px 10px rgb(224, 224, 224);
    }

    .social_btn {
        background: var(--tertiary-color);
        color: var(--secondary-color);
    }

    .social_btn:hover {
        color: var(--tertiary-color);
        background: var(--primary-color);
    }
}





/* lg responsive----------- */


@media only screen and (min-width: 200px) and (max-width: 992px) {
    .f-content-box {
        margin: 20px 25px;
    }

    .p-content-box {
        margin: 20px 25px;
    }

    .a-content-img {
        margin: 0px 0px 10px 20px;
    }

    .hero_area {
        margin: 90px 10px 0px 10px;
    }

    .section-gap {
        padding: 100px 0px;
    }

    .hero-text {
        margin: 5% 10px 0px 10px;
    }

    .hero-img {
        margin: 0px 10px;
    }
}





/* md responsive----------- */


@media only screen and (min-width: 200px) and (max-width: 768px) {}


/* sm phone responsive css end */

@media only screen and (min-width: 200px) and (max-width: 576px) {
    .f-content-box {
        padding: 30px 40px;
    }

    .f-content-box .features-arw {
        margin: 10px 0px 0px 5px;
    }

    .second-heading {
        font-size: 2rem;
    }

    .subtitle,
    .title {
        font-size: 12px;
    }

    .section-gap {
        padding: 50px 0px;
    }

    .f-content-box:hover .f-content-text {
        transform: translateY(3px);
    }

    .p-content-text {
        padding: 25px 25px;
    }

    .a-content-img img {
        transform: translateY(20px) translateX(-20px);
    }

    .first-heading {
        font-size: 2.2rem;
        line-height: 50px;
        margin: 0px 0px 20px 0px;
    }

    .hero-img {
        margin-bottom: 15px;
    }

    .hero_area {
        margin: 5px;
    }

    .first-heading {
        margin-top: 5px;
    }

    .social_links.active {
        opacity: 1;
    }

    .social_btn {
        font-size: 14px;
        margin: 10px 10px;
    }

    .bottom_arrow {
        display: none;
    }

    .top_arrow {
        top: 83%;
        left: 83%;
    }

    .top_arrow.active {
        opacity: 1;
    }

    .top_arrow,
    .bottom_arrow {
        padding: 12px 17px;
    }

    .top_arrow i {
        font-size: 18px;
    }

    .navbar {
        padding: 10px 10px;
    }

    .logo {
        font-size: 24px;
    }

    .navbar-nav li:first-child a::after,
    .navbar-nav li a::after {
        display: none;
    }

    .navbar-toggler-icon {
        border: none;
        background-color: var(--gradient-box-w);
        box-shadow: var(--shadow-white-3);
    }


    .navbar-collapse {
        text-align: center;
        margin: 20px;
    }

    .r-content-box {
        padding: 30px 30px;
    }

    .r-content-box .rating-btn span {
        top: 32%;
        z-index: 900;
        font-size: 12px;
    }

    .r-content-box p {
        font-size: 14px;
    }

    .resume_content .second-heading {
        font-size: 1.7rem;
    }

    .resume .resume-sub,
    .resume-h2 {
        margin-left: 20px;
    }

    .resume_content {
        padding-top: 20px;
    }
}


@media only screen and (min-width: 200px) and (max-width: 374px) {
    .first-heading {
        font-size: 1.7rem;
    }

    .buy_now_btn {
        font-size: 12px;
    }
}