/* common css -------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
    --primary-color: #ff014f;
    /* --primary-color: rgb(67, 153, 233); */
    /* rgb(104, 95, 224) */
    /* #ff014d,rgb(104, 95, 224) */
    --secondary-color: #f4f5f6;
    --tertiary-color: #0d1013;
    --gray-color: #f6f6f6;
    --background-color-1: linear-gradient(145deg, #1e2024, #23272b);
    --background-color-2: #212428;
    --shadow-1: 10px 10px 19px #1c1e22,
        -10px -10px 19px #262a2e;
    --shadow-2: inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
    --inner-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    --shadow-white-3: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    --gradient-box-w: linear-gradient(145deg, #e2e8ec, #ffffff);
    /* --gradient-red-hover: linear-gradient(145deg, #ff014f, #d11414); */
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
}


/* common css start ------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html,
body {
    font-family: var(--primary-font);
    background-color: #ECF0F3;
    color: #000;
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}


a {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--tertiary-color);
}

hr {
    position: relative;
    max-width: 1300px;
    margin: auto;
    height: 1px;
    background-color: rgb(218, 216, 216);
    border: none;
    z-index: 1;
}

.container {
    max-width: 1300px;
    margin: auto;
}

img {
    width: 100%;
    cursor: pointer;
}

/* common css end ------------------------*/







/* utility classes start ------------------- */

.section-gap {
    padding: 140px 0px;
}

.title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
}

.header-span {
    color: var(--primary-color);
}

.first-heading {
    font-size: 3.3rem;
    margin: 20px 0px;
    font-weight: 600;
    line-height: 70px;
}

.first-para {
    font-size: 14px;
    line-height: 1.9rem;
    letter-spacing: 0.1rem;
    margin: 0px 0px 40px 0px;
}

.second-heading {
    font-size: 2.7rem;
    text-transform: capitalize;
    margin: 10px 0px 25px 0px;
    word-spacing: 0.5rem;
    letter-spacing: 1px;
    font-weight: 600;
}

.second-title {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 18px;
    line-height: 30px;
}

.description {
    font-size: 14px;
    line-height: 2rem;
}

.subtitle {
    font-size: 14px;
    letter-spacing: 0.1rem;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 500;
}

.arw {
    width: 10%;
}

/* utility classes end ------------------- */






/* all btn style start -------------------------- */

.buy_now_btn {
    display: inline-block;
    color: var(--tertiary-color);
    background: var(--gradient-box-w);
    box-shadow: var(--shadow-white-3);
    font-weight: normal;
    border-radius: 5px;
    padding: 15px 30px;
    transition: all 0.5s ease;
    border: none;
}

.buy_now_btn:hover {
    background: var(--tertiary-color);
    color: var(--secondary-color);
    transform: translateY(-5px);
}

.purchase_btn {
    color: var(--primary-color);
    background: var(--gradient-box-w);
    box-shadow: var(--shadow-white-3);
}

.purchase_btn:hover {
    background: var(--primary-color);
    transform: translateY(-5px);
}


.submit_btn {
    padding: 15px 13px;
    text-align: center;
    border-radius: 5px;
    background-color: var(--gradient-box-w);
    box-shadow: var(--shadow-white-3);
    color: var(--primary-color);
    transition: all 0.5s ease;
    border: none
}

.submit_btn:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    transform: translateY(-5px);
}

.social_btn {
    font-size: 22px;
    margin: 20px 25px;
    background: var(--gradient-box-w);
    box-shadow: var(--shadow-white-3);
    padding: 11px 12px;
    border-radius: 5px;
    transition: all 0.4s ease;
    color: var(--tertiary-color);
}

.social_btn:hover {
    color: var(--secondary-color);
    background: var(--tertiary-color);
    transform: translateY(-5px);
}

.dark_mode_btn a {
    font-size: 22px;
    color: var(--primary-color);
}

/* all btn style end -------------------------- */





/* social link style start -----------------------*/

.social_links .fa-facebook-f,
.social-info .fa-facebook-f {
    padding: 12px 15px;
}

.social_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 75px;
    bottom: 30%;
    transition: opacity 0.5s ease;
    z-index: 1000;
}

.top_arrow,
.bottom_arrow {
    position: fixed;
    left: 5%;
    top: 45%;
    color: var(--primary-color);
    background: var(--gradient-box-w);
    box-shadow: var(--shadow-white-3);
    font-weight: normal;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
    transition: opacity 0.5s ease;
    z-index: 1000;
}

.top_arrow i,
.bottom_arrow i {
    font-size: 20px;
    color: var(--primary-color);
}

.top_arrow.active,
.bottom_arrow.active {
    opacity: 0;
}

.bottom_arrow {
    top: 55%;
}

.bottom_arrow i {
    transform: rotate(180deg);
}


/* social link style end -----------------------*/






/* color mode css start */

.dark-btn i {
    margin-right: 20px;
    color: var(--tertiary-color);
    font-size: 30px;
    transition: all 0.5s ease;
}

.dark-btn:hover i {
    color: var(--primary-color);
}

/* color mode css end */





/* header css start ---------------------------------*/

#header_area .section-gap {
    padding: 120px 0px;
}

.logo {
    font-family: 'Yellowtail', cursive;
    font-size: 28px;
    font-weight: bolder;
    border-bottom: 5px double var(--primary-color);
    text-transform: capitalize;
    margin-bottom: 5px;
}


.navbar-toggler {
    position: relative;
}

.navbar-toggler .top-bar,
.middle-bar,
.bottom-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    background-color: red;
    transform: rotate(135deg);
}

.middle-bar,
.bottom-bar {
    margin-top: 10px;
}

.bottom-bar {
    margin-top: 20px;
}


.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
    margin-top: -10px;
}

.sticky {
    box-shadow: var(--shadow-white-3);
}

.navbar {
    background-color: #ECF0F3;
    padding: 20px 4%;
    transition: all 1s ease;
    text-align: center;
}

.navbar-nav li {
    margin: 10px 15px;
    position: relative;

}

.navbar-nav li a::after {
    position: absolute;
    content: "";
    background-color: var(--primary-color);
    width: 0px;
    height: 2px;
    bottom: 0px;
    left: 50%;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%);
}

.navbar-nav li a:hover::after {
    width: 50%;
}

.navbar-nav:hover li a {
    color: rgb(160, 160, 160);
}

.navbar-nav:hover li a:hover {
    color: var(--tertiary-color);
}


.navbar-nav li a {
    color: var(--tertiary-color);
    transition: all 0.3s ease;
}

.navbar-nav li:first-child a::after {
    position: absolute;
    content: "";
    background-color: var(--tertiary-color);
    width: 0px;
    height: 2px;
    bottom: 0px;
    left: 50%;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%);
}

.navbar-nav li:first-child a:hover::after {
    width: 50%;
    background: var(--tertiary-color);
}

.navbar-nav li a.active {
    color: var(--primary-color);
}

.hero_area {
    margin-top: 100px;
}

.hero-img img {
    border-radius: 10px;
}

/* .hero-img::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    box-shadow: var(--shadow-white-3);
    left: 0;
    bottom: 7px;
    z-index: -1;
    border-radius: 10px;
    transition: all 0.5s ease;
} */

.hero-text {
    position: relative;
    margin: 7% 0% 0% 15%;
}

.typingText {
    position: relative;
}


.typingText::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    background-color: #ECF0F3;
    animation-name: typingText;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    border-left: 2px solid red;
}


@keyframes typingText {
    0% {
        left: 0;
    }

    50% {
        left: 105%;
    }

    100% {
        left: 0;
    }
}

/* header area css end --------------------------*/





/* about area css start -------------------------*/

.a-content-img {
    position: relative;
    z-index: 1;
}

.progress-bar {
    position: relative;
    padding: 5px;
    margin: 10px 0px 40px 0px;
    background-color: rgba(199, 199, 199, 0.623);
    border-radius: 10px;
}

.progress-bar span {
    position: absolute;
    width: 85%;
    height: 100%;
    left: 0;
    top: 0;
    content: "";
    background-color: var(--primary-color);
    border-radius: 10px;
}

.progress-bar span::before {
    position: absolute;
    width: 0px;
    height: 0px;
    right: 0;
    top: -10px;
    content: "";
    border: 7px solid transparent;
    border-right-width: 0px;
    border-top-color: #000;
}

.progress-bar span::after {
    position: absolute;
    width: 35px;
    height: 20px;
    right: 0px;
    top: -38px;
    content: "90%";
    color: var(--secondary-color);
    text-align: center;
    border-radius: 3px;
    padding: 5px 8px;
    font-size: 12px;
    font-weight: 500;
    background: var(--tertiary-color);
}

.progress-bar.html span {
    width: 90%;
}

.progress-bar.css span {
    width: 85%;
}

.progress-bar.javascript span {
    width: 75%;
}

.progress-bar.php span {
    width: 70%;
}

.progress-bar.wordpress span {
    width: 80%;
}

.progress-bar.css span::after {
    content: "85%";
}

.progress-bar.javascript span::after {
    content: "75%";
}

.progress-bar.php span::after {
    content: "70%";
}

.progress-bar.wordpress span::after {
    content: "80%";
}

.a-content-img img {
    border-radius: 10px;
    transition: all 0.4s ease;
    transform: translateY(30px) translateX(-20px);
}

.a-content-img img:hover {
    box-shadow: var(--shadow-white-3);
}

.a-content-img::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    border-radius: 10px;
    background-color: rgb(67, 153, 233, 0.3);
    z-index: -1;
    border: 5px solid rgba(226, 226, 226, 0.8);
}


/* about area css end -------------------------------------*/





/* features area css start --------------------------------*/

.f-content-box {
    margin: 20px 5px;
    background: var(--gradient-box-w);
    box-shadow: var(--shadow-white-3);
    border-radius: 10px;
    transition: all 0.5s ease;
    padding: 35px 50px;
}

.f-content-box .features-categories {
    width: 17%;
    filter: invert(12%) sepia(86%) saturate(5859%) hue-rotate(337deg) brightness(107%) contrast(105%);
    margin-bottom: 20px;
}

.f-content-box .features-arw {
    width: 9%;
    opacity: 0;
    margin: 20px 0px 0px 5px;
    transition: all 0.3s ease;
}

.f-content-box:hover .f-content-text img {
    opacity: 1;
    filter: invert(100%);
}

.f-content-box:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
}

.f-content-box:hover .f-content-text {
    transform: translateY(-3px);
}

.f-content-text {
    transition: transform 0.3s ease;
    transform: translateY(17px);
}

/* features area css end ------------------------------------*/




/* projects area css start ---------------------------------*/

.p-content-box {
    margin: 20px 0px;
    background: var(--gradient-box-w);
    box-shadow: var(--shadow-white-3);
    border-radius: 20px;
    transition: all 0.4s ease;
}

.p-content-box:hover .p-content-text img {
    transform: scale(1.1);
}

.p-content-text .subtitle {
    font-weight: 500;
    letter-spacing: 0;
    transition: 0.4s;
}

.p-content-text .react-count {
    font-weight: normal;
    color: var(--tertiary-color);
    margin-top: 7px;
}

.p-content-text a {
    transition: 0.3s;
}

.p-content-text a:hover {
    color: var(--primary-color);
}

.p-content-text:hover .subtitle {
    color: var(--tertiary-color);
}

.p-content-text {
    padding: 30px 30px;
}

.p-content-text .second-title i {
    font-size: 0px;
    transform: rotate(45deg);
    margin: 0px 10px;
    transition: all 0.4s ease;
}

.p-content-text .second-title:hover i {
    font-size: 18px;
    color: var(--primary-color);
}

.p-content-text .second-title:hover {
    color: var(--primary-color);
}

.p-content-img {
    overflow: hidden;
    border-radius: 20px;
}

.p-content-img img {
    border-radius: 20px;
    margin-bottom: -7px;
    transition: all 0.5s ease;
}

.p-content-box i {
    color: var(--tertiary-color);
    font-size: 15px;
    margin: 20px 10px 30px 0px;
    transition: all 0.4s ease;
}

/* projects area css end ---------------------------------------*/






/* resume area css end -----------------------------------------*/

.resume_content_btn {
    background: var(--gradient-box-w);
    box-shadow: var(--shadow-white-3);
    border-radius: 10px;
    padding: 0;
    margin: 0;
}

.resume_content_btn li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.resume_content_btn li a {
    padding: 30px 13px;
    text-align: center;
    list-style: none;
    border-radius: 10px;
    display: block;
    transition: all 0.4s ease;
}

.resume_content_btn li a.active,
.resume_content_btn li a:hover {
    background: var(--gradient-box-w);
    box-shadow: var(--shadow-white-3);
    color: var(--primary-color);
}

.resume_content .second-heading {
    font-size: 2.3rem;
}

.resume_content {
    padding-top: 50px;
}

.r-content-box {
    background: var(--gradient-box-w);
    box-shadow: var(--shadow-white-3);
    border-radius: 10px;
    margin: 40px 0px 10px 0px;
    padding: 60px 60px;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease;
}

.r-content-box:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
}

.r-content-box:hover .rating-btn span {
    box-shadow: 0px 0px 0px #000;
    background: transparent;
    color: var(--secondary-color);
    clear: both;
}

.resume_content .second-title {
    margin-bottom: 5px;
}

.r-content-box hr {
    margin: 25px 0px;
}

.r-content-box .rating-btn span {
    background: var(--gradient-box-w);
    box-shadow: var(--shadow-white-3);
    position: absolute;
    right: 7%;
    top: 25%;
    color: var(--primary-color);
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
}

.tab-data {
    display: none;
}

.tab-data.active {
    display: flex;
}

/* resume area css end ---------------------*/





/* testimonial area css end -----------------*/

.testimonial {
    text-align: center;
}

.testimonial_content {
    text-align: left;
}

.t-content-box {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background: var(--gradient-box-w);
    box-shadow: var(--shadow-white-3);
    transition: all 0.4s ease;
    position: relative;
    z-index: 12;
}

.t-content-info .second-title {
    margin: 30px 0px 0px 0px;
}

.t-content-img {
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.t-content-img img {
    border-radius: 20px;
    margin-bottom: -7px;
    transition: all 0.5s ease;
}

.t-content-img img:hover {
    transform: scale(1.1);
}

.t-content-info .second-title i {
    font-size: 0px;
    transform: rotate(45deg);
    margin: 0px 10px;
    transition: all 0.4s ease;
}

.t-content-info .second-title:hover i {
    font-size: 18px;
}

.t-content-box2 {
    margin: 20px;
    background: var(--gradient-box-w);
    box-shadow: var(--shadow-white-3);
    border-radius: 10px;
}

.t-content-info2 {
    padding: 55px 40px;
    position: relative;
}

.t-content-info2 .clients-rating {
    display: flex;
    position: absolute;
    right: 5%;
    top: 20%;
    padding: 15px 15px;
    background: var(--gradient-box-w);
    box-shadow: var(--shadow-white-3);
    border-radius: 5px;
}

.t-content-info2 .clients-rating img {
    width: 12px;
    margin: 0px 2px;
}

.t-content-info2 .second-title {
    font-weight: 500;
    font-size: 26px;
    margin: 5px 0px;
}

.t-content-info2 hr {
    margin: 25px 0px;
}

.t-content-info2 p {
    font-size: 18px;
    line-height: 2rem;
}

.owl-carousel button.owl-dot {
    width: 10px;
    height: 10px;
    display: inline;
    background-color: rgb(138, 138, 138);
    margin: 30px 8px 0px 8px;
    border-radius: 10px;
    transition: all 0.4s ease;
}

.owl-carousel button.active {
    width: 25px;
    background-color: var(--primary-color);
}

.arrow,
.arrow2 {
    position: absolute;
    right: 14%;
    top: 8%;
    color: var(--primary-color);
    background: var(--gradient-box-w);
    border-radius: 5px;
    padding: 15px 10px;
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: var(--shadow-white-3);
    border: none;
}

.arrow2 {
    right: 7%;
}

.arrow:hover {
    background: var(--primary-color);
    transform: translateY(0px);
}

.arrow:hover i {
    color: var(--secondary-color);
}

.arrow i,
.arrow2 i {
    padding: 7px 15px;
    font-size: 22px;
    color: var(--primary-color);
    transform: rotate(-90deg);
    transition: all 0.4s ease;
}

.arrow2 i {
    transform: rotate(90deg);
}

.testimonial_content .quotes img {
    width: 110px;
    position: absolute;
    left: 40%;
    top: 5%;
    filter: invert(85%) sepia(14%) saturate(75%) hue-rotate(152deg) brightness(106%) contrast(94%);
}

.testimonial_content .quotes {
    position: relative;
    z-index: 2;
}

/* testimonial area css end ---------------------*/





/* pricing area css start ------------*/


.facilities .right_area p,
.facilities .left_area p {
    margin-bottom: 25px;
    color: rgb(70, 70, 70);
}

.facilities .right_area img,
.facilities .left_area img,
.pricing_card_footer img {
    width: 18px;
    margin-right: 10px;
}

.pricing_btn li,
.pricing_btn.row {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pricing_btn {
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: var(--shadow-white-3);
    background: var(--gradient-box-w);
    cursor: pointer;
}

.pricing-info {
    position: relative;
    background: var(--gradient-box-w);
    box-shadow: var(--shadow-white-3);
    padding: 50px 40px;
    border-radius: 10px;
    font-weight: 500;
    margin-left: 40px;
}

.pricing_btn li a {
    border-radius: 10px;
    padding: 30px;
    display: block;
    transition: 0.4s ease;
}

.pricing_btn li a.active {
    background: var(--gradient-box-w);
    box-shadow: var(--shadow-white-3);
    color: var(--primary-color);
}

.pricing_btn li a:hover {
    background: var(--gradient-box-w);
    box-shadow: var(--shadow-white-3);
    color: var(--primary-color);
}

.price-data {
    display: none;
}

.price-data.active {
    display: block;
}

.price_btn {
    border: none;
    background: var(--gradient-box-w);
    box-shadow: var(--shadow-white-3);
    padding: 15px 18px;
    color: red;
    border-radius: 5px;
    font-weight: 600;
    font-size: 22px;
    margin-top: 20px;
}


.recommended::before {
    content: "Recommended";
    position: absolute;
    top: -50px;
    right: 45%;
    background: #545961;
    padding: 5px 13px;
    font-size: 12px;
    border-radius: 30px;
    color: #fff;
    z-index: 2;
}


.recommended::after {
    content: "";
    right: 50%;
    top: -23px;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #545961;
    z-index: 1;
}

/* pricing area css end ---------------------*/





/* contact area css start-----------------------*/

.social-info .social_btn {
    margin: 18px 25px 15px 0px;
}


.contact-info {
    background: var(--gradient-box-w);
    box-shadow: var(--shadow-white-3);
    padding: 30px;
    border-radius: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.contact-info:hover .contact-info-img img {
    transform: scale(1.1);
    border-radius: 10px;
}

.contact-info-img img {
    border-radius: 10px;
    transition: 0.3s ease;
}

.contact-info-img {
    overflow: hidden;
    margin-bottom: 40px;
    border-radius: 10px;
}

.contact-info h3 {
    font-weight: 600;
    margin-bottom: 10px;
}

.contact-info,
.contact-info .phone,
.contact-info .email {
    font-size: 16px;
}

.form-group {
    margin: 20px 0px;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.contact-input input:focus,.contact-input textarea:focus {
    outline: 2px solid var(--primary-color);
}

.contact-form {
    background: var(--gradient-box-w);
    box-shadow: var(--shadow-white-3);
    padding: 30px;
    margin: 0px 25px;
    border-radius: 10px;
}

/* contact area css end -------------------------*/





/* footer area css end ---------------------*/

.footer {
    text-align: center;
    margin-top: 100px;
}

.footer-info img {
    width: 80px;
    border-radius: 50%;
    border: 2px solid #000;
}

.footer h3 {
    font-weight: 600;
}

.footer h6 {
    font-size: 18px;
    margin-bottom: 20px;
}

/* footer area css end ---------------------*/




/* main css end --------*/